<div class="container">
    <div class="text-center mt-3 mb-5">
        <img src="assets/images/logo-text.svg"
             alt="Phoenix@FCC"
             height="50"
        />
        <span style="font-size:50px;vertical-align:middle;">
        @
        </span>
        <img src="assets/images/fcc-logo-animated-dark.png"
             alt="Phoenix@FCC" />
        <p class="lead">Visualizing FCC event data in the browser.</p>
    </div>

    <div class="row centered">
        <div class="card">
            <img class="card-img-top"
                 src="assets/images/playground.svg"
                 alt="Card image cap"
            />
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Playground</h5>
                <p class="card-text">
                    Get started with the different Phoenix features.
                </p>
                <a routerLink="/playground" class="btn btn-primary">Show</a>
            </div>
        </div>
    </div>
</div>
